#socialServices{
padding: 0;
border: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
text-align: left;
vertical-align: top;
}

#socialServices label{
    display: block;
    float:left;
}

label, div.label {
font-size: 1.2em;
color: #444;
font-weight: bold;
text-align: left;
display: block;
width: 198px;
float: left;
}